# Databricks Authentication
DATABRICKS_HOST="https://<seu-workspace-id>.cloud.databricks.com"
DATABRICKS_TOKEN="dapi..."
DATABRICKS_WAREHOUSE_ID="<seu-warehouse-id>"

# Google Cloud Platform (Opcional)
API_GCP=""
GCP_PROJECT=""
GCP_BUCKET=""
